.register-container {
    margin: 0 auto;
    width: 50%;
}

.register-title {
    text-align: center;
    margin: 15px;
    color: blue;
}

.register-container input:not([type=checkbox]) {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    height: 60px;
    font-size: 20px;
    margin-left: 15px;
}